/* Write your CSS here */
.app-container {
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: 'Roboto';
  min-height: 100vh;
}
.content-container {
  background-color: #150b3e;
  padding: 20px;
  border-radius: 10px;
}
.profile-name {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.first-letter-container {
  background-color: #c7d2fe;
  height: 50px;
  width: 50px;
  border-radius: 55px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.first-letter {
  color: #7c3aed;
  font-size: 20px;
}
.name {
  color: #c4c4c4;
  font-size: 20px;
  margin-left: 10px;
}
.balance-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.your-balance {
  color: #585076;
  font-size: 30px;
}
.balance {
  color: #ffffff;
  font-size: 30px;
}
.in-rupees {
  color: #585076;
  font-size: 15px;
}
.withdraw {
  color: #d4d2db;
  font-size: 30px;
}
.all-button-container {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  width: 400px;
  flex-wrap: wrap;
  list-style-type: none;
}
